# Node modules
/node_modules
# iOS
ios/Pods/
ios/build/
ios/DerivedData/
ios/*.xcworkspace
# Xcode files
*.xcodeproj/*.pbxuser
*.xcodeproj/*.mode1v3
*.xcodeproj/*.mode2v3
*.xcodeproj/*.perspectivev3
!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3
xcuserdata
# Android
android/.gradle
android/app/build/
android/.idea
android/local.properties
android/app/*.iml
android/app/build/
# fastlane
ios/fastlane/report.xml
android/fastlane/report.xml
fastlane/report.xml
# Prevent bundling the iOS or Android cache
*.bundle
# Mac files
.DS_Store
# Log files
*.log
# Temporary files
tmp/
temp/
